@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
body {
	font-family: 'Open Sans' , sans-serif;
	font-size: 16px;
  transition: background 0.2s linear;
  text-align: center;
  background-color: rgba(159, 162, 177, .8);
  color: black;
}
body.dark-mode {
  background-color: #383838;
  color: white;
}
.switch-checkbox {
  display: none;
  ;
}
.swc {
  width: 38px;
  height: 21px;
  display: inline-block;
  position: relative;
  border: 2px solid #e5e5e5;
  border-radius: 15px;
  background: #e5e5e5;
  cursor: pointer;
  transition: 0.2s;
  margin-right: 15px;
  
}
.swc:before {
  content: '';
  width: 38px;
  height: 21px;
  background: #fff;
  display: inline-block;
  border-radius: 15px;
  transform: scale(1);
  transition: 0.4s;
}
.swc:after {
  content: '';
  top: 0;
  left: 0;
  width: 21px;
  height: 21px;
  position: absolute;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
.switch-checkbox:checked + .swc {
  background: #54d86c;
  border-color: #54d86c;
}
.switch-checkbox:checked + .swc:before {
  transform: scale(0);
  transition: 0s;
}
.switch-checkbox:checked + .swc:after {
  left: calc(100% - 21px);
}
.grid-container {
  text-align: center;
}
.nav_links {
  display: inline-flex;
  position: relative;
  text-align: center;
  overflow: hidden;
  max-width: 100%;
  background-color: rgba(215, 225, 226, 0.705);
  border-radius: 40px;
  box-shadow: 8px 32px 48px 0 rgba(0, 0, 0, 0.438);
}
.nav-item {
   color: rgb(12, 16, 19);
   padding: 25px;
   text-decoration: none;
   transition: .3s;
   margin: 0 14px;
   z-index: 5;
   font-family: 'DM Sans' , sans-serif;
   font-size: 18px;
   position: relative;
 }
 .nav-item-son {
  color: rgb(49, 71, 83);
  padding-top: 22px;
  padding-right: 25px;
  text-decoration: none;
  transition: .3s;
  margin: 0 16px;
  z-index: 1;
  font-family: 'DM Sans' , sans-serif;
  font-size: 16px;
  position: sticky;
}
.nav-item:not(.is-active):hover { color: rgba(34, 189, 73, 0.959); }
.nav-item-son:not(.is-active):hover { color: rgba(34, 189, 73, 0.959); }
.box{
    margin-top: 120px;
    margin-bottom: 60px;
}
.content {
  max-width: 920px;
  margin: auto;
  padding: 30px;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 8px 32px 48px 0 rgba(0, 0, 0, 0.438);
  
}
.imgg{

    max-width: 100%;
}

@media (max-width: 740px) {
    .nav-item {
      padding: 18px;
      margin: 0 2px;
      font-size: 15px;
    }
    .nav-item-son {
      margin: 0 1px;
      padding-top: 15px;
    }
    .imgg {
        max-width: 75%;
    }
}
