@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

body {
	font-family: 'Open Sans' , sans-serif;
	font-size: 16px;
  background: #d0d0d0;
  text-align: center;
}
.nav_links {
  display: inline-flex;
  position: sticky;
  text-align: center;
  overflow: hidden;
  max-width: 100%;
  background-color: rgba(200, 200, 200, 0.5);
  padding:120 160px;
  border-radius: 40px;
  box-shadow: 0 10px 40px rgba(159, 162, 177, .8);
}
.nav-item {
   color: rgb(49, 71, 83);
   padding: 30px;
   text-decoration: none;
   transition: .3s;
   margin: 0 16px;
   z-index: 1;
   font-family: 'DM Sans' , sans-serif;
   font-size: 24px;
   position: sticky;
 }
.nav-item:not(.is-active):hover { color: rgba(148, 13, 13, 0.959); }
