@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
body {
	font-family: 'Open Sans' , sans-serif;
	font-size: 16px;
  background: #d0d0d0;
  text-align: center;
}
.switch-checkbox {
  display: none;
  ;
}

.switch {
  width: 38px;
  height: 21px;
  display: inline-block;
  position: relative;
  border: 2px solid #e5e5e5;
  border-radius: 15px;
  background: #e5e5e5;
  cursor: pointer;
  transition: 0.2s;
  margin-right: 15px;
  
}

.switch:before {
  content: '';
  width: 38px;
  height: 21px;
  background: #fff;
  display: inline-block;
  border-radius: 15px;
  transform: scale(1);
  transition: 0.4s;
}

.switch:after {
  content: '';
  top: 0;
  left: 0;
  width: 21px;
  height: 21px;
  position: absolute;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.switch-checkbox:checked + .switch {
  background: #54d86c;
  border-color: #54d86c;
}

.switch-checkbox:checked + .switch:before {
  transform: scale(0);
  transition: 0s;
}

.switch-checkbox:checked + .switch:after {
  left: calc(100% - 21px);
}
.grid-container {
  text-align: center;
}
.nav_links {
  display: inline-flex;
  position: relative;
  text-align: center;
  overflow: hidden;
  max-width: 100%;
  background-color: rgba(200, 200, 200, 0.5);
  border-radius: 40px;
  box-shadow: 0 10px 40px rgba(159, 162, 177, .8);
}
.nav-item {
   color: rgb(49, 71, 83);
   padding: 30px;
   text-decoration: none;
   transition: .3s;
   margin: 0 16px;
   z-index: 5;
   font-family: 'DM Sans' , sans-serif;
   font-size: 18px;
   position: relative;
 }
 .nav-item-son {
  color: rgb(49, 71, 83);
  padding-top: 30px;
  padding-left: 240px;
  padding-right: 30px;
  text-decoration: none;
  transition: .3s;
  margin: 0 16px;
  z-index: 1;
  font-family: 'DM Sans' , sans-serif;
  font-size: 18px;
  position: sticky;
}
.nav-item:not(.is-active):hover { color: rgba(34, 189, 73, 0.959); }
.nav-item-son:not(.is-active):hover { color: rgba(34, 189, 73, 0.959); }
.container {
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: minmax(100px, auto);
  margin-top: 40px;
  margin-left: 15%;
  margin-right: 15%;
  padding: 40px;
  grid-auto-flow: dense;
  grid-gap: 10px;
}

.container .box {
  color: #929796;
  background: rgba(200, 200, 200, 0.5);
  padding: 20px;
  display: grid;
  font-size: 20px;
  place-items: center;
  text-align: center;
  color: #100001;
  transition: 0.5s;
  box-shadow: 0 10px 40px rgba(124, 125, 133, 0.8);
}

.container .box:hover {
  background: rgba(123, 125, 138, 0.8);
}

.container .box img {
  position: relative;
  max-width: 100px;
  margin-bottom: 10px;
}

.container .box:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}

.container .box:nth-child(2) {
  grid-column: span 2;
  grid-row: span 1;
}
.container .box:nth-child(3) {
  grid-column: span 2;
  grid-row: span 1;
}

@media (max-width: 1280px) {

  .container {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    grid-template-rows: minmax(auto, auto);
    margin:0 auto;

  }
  .container .box {
    grid-column: unset !important;
    grid-row: unset !important;
  }
}
